.home{
     background: #D50000;
     font-family: 'Courgette', cursive;
}
.cusiva{
    font-family: 'Courgette', cursive;
}
.btn-login {
  margin-top: 350px;
}
.btn {
	color:white;
    background: #B71C1C;
    border: 1px solid grey;
    border-radius: 30px;
    font-size: 13pt;
    padding: 10px 40px 10px 40px;
	font-family: 'Courgette', cursive;
}

.login-enviar {
    background: #B71C1C;
    height: 70px;
    width: 90%;
    border: 2.5px solid white;
    border-radius: 30px;
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
    margin-top: 125px;
    line-height: 50px;
    margin-bottom: 190px;
    font-family: 'Courgette', cursive;
}

.login-enviar:hover {
    background: #ffffff;
    color: #B71C1C;
    font-family: 'Courgette', cursive;
}


.buto{
    padding: 20px;
    font-family: 'Courgette', cursive;
}

.anchor{
    margin-right: 60px;
    height: 70px;
    font-family: 'Courgette', cursive;
}

.buto a{
    text-decoration: none;
    height: 70px;
    padding: 20px;
    border-radius: 30px;
    font-size: 13pt;
    font-family: 'Courgette', cursive;
}

.buto a:hover{
    text-decoration: none;
    background: #B71C1C;
    color: white;
    font-family: 'Courgette', cursive;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
    .logo{
       width: 150px;
    }
}

.logo{
       width: 200px;
       margin: 0 auto;
       
    }

.menu{
    background: white;
    text-align: center;
    box-shadow: 4px 5px 10px black;
    position: fixed;
    width: 100%;
    z-index: 2000;
    font-family: 'Courgette', cursive;
}
.log{
    text-align: left;
    font-family: 'Courgette', cursive;
}

a{
    color: black;
    font-weight: bold;
    font-family: 'Courgette', cursive;
}

.titulo{
    margin-top: 170px;
    font-family: 'Courgette', cursive;
}
.funcionalidad h1{
    color: #D50000;
    font-family: 'Courgette', cursive;
}

.funcion{
    margin-top: 80px;
    font-family: 'Courgette', cursive;
}

.funcion p{
    font-weight: bold;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.funcionalidad img {
    margin: 0 auto;
    width: 50%;
    font-family: 'Courgette', cursive;
}

.play img{
    width: 15%;
    font-family: 'Courgette', cursive;
}

.pasos{
    margin-top: 40px;
    margin-bottom: 40px;
}